name: YAMMM Test
on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch: {}
jobs:
  test:
    name: Test Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
        id: go
      # Root module
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          args: --config=.golangci.yml
      - name: Test
        run: go test -v ./...
